In [12]:
! pip install requests pandas

Requirement already satisfied: requests in c:\users\sneha\anaconda3\lib\site-packages (2.32.5)
Requirement already satisfied: pandas in c:\users\sneha\anaconda3\lib\site-packages (2.3.3)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\sneha\anaconda3\lib\site-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sneha\anaconda3\lib\site-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sneha\anaconda3\lib\site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sneha\anaconda3\lib\site-packages (from requests) (2025.11.12)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sneha\anaconda3\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sneha\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sneha\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sneha\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\sneha\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import requests

url = "https://api.openaq.org/v3/locations/2178"

headers = {
    "X-API-Key": "PASTE_YOUR_API_KEY_HERE"
}

response = requests.get(url, headers=headers)

print("Status Code:", response.status_code)
print(response.text[:500])

In [13]:
import requests

url = "https://api.openaq.org/v3/locations/2178"

headers = {
    "X-API-Key": "88904129fafefebcb6e90ccde11d98a31b2ce20bfd38ad5631098bce696750eb"
}

response = requests.get(url, headers=headers)

print("Status Code:", response.status_code)
print(response.text[:500])

Status Code: 200
{"meta":{"name":"openaq-api","website":"/","page":1,"limit":100,"found":1},"results":[{"id":2178,"name":"Del Norte","locality":"Albuquerque","timezone":"America/Denver","country":{"id":155,"code":"US","name":"United States"},"owner":{"id":4,"name":"Unknown Governmental Organization"},"provider":{"id":119,"name":"AirNow"},"isMobile":false,"isMonitor":true,"instruments":[{"id":2,"name":"Government Monitor"}],"sensors":[{"id":25227,"name":"co ppm","parameter":{"id":8,"name":"co","units":"ppm","disp

In [17]:
import requests
import pandas as pd

url = "https://api.openaq.org/v3/locations?country=IN&limit=10"
headers = {
    "X-API-Key": "88904129fafefebcb6e90ccde11d98a31b2ce20bfd38ad5631098bce696750eb"
}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    data = response.json()["results"]
    df = pd.json_normalize(data)

    df.to_csv("air_quality_data.csv", index=False)

    print(" CSV saved successfully!")
    print(df.head())
    print("Total rows:", len(df))
else:
    print(" Error:", response.status_code)
    print(response.text)

 CSV saved successfully!
   id                 name locality      timezone  isMobile  isMonitor  \
0   3           NMA - Nima     None  Africa/Accra     False       True
1   4           NMT - Nima     None  Africa/Accra     False       True
2   5      JTA - Jamestown     None  Africa/Accra     False       True
3   6    ADT - Asylum Down     None  Africa/Accra     False       True
4   7  ADEPA - Asylum Down     None  Africa/Accra     False       True

                                 instruments  \
0  [{'id': 2, 'name': 'Government Monitor'}]
1  [{'id': 2, 'name': 'Government Monitor'}]
2  [{'id': 2, 'name': 'Government Monitor'}]
3  [{'id': 2, 'name': 'Government Monitor'}]
4  [{'id': 2, 'name': 'Government Monitor'}]

                                             sensors licenses  \
0  [{'id': 6, 'name': 'pm10 µg/m³', 'parameter': ...     None
1  [{'id': 7, 'name': 'pm10 µg/m³', 'parameter': ...     None
2  [{'id': 10, 'name': 'pm10 µg/m³', 'parameter':...     None
3  [{'id': 11, 'name': 'pm10 µg/m³', 'parameter':...     None
4  [{'id': 14, 'name': 'pm10 µg/m³', 'parameter':...     None

                                           bounds  ... datetimeLast  \
0          [-0.19968, 5.58389, -0.19968, 5.58389]  ...         None
1          [-0.19898, 5.58165, -0.19898, 5.58165]  ...         None
2  [-0.2103972, 5.5401139, -0.2103972, 5.5401139]  ...         None
3    [-0.2120555, 5.570722, -0.2120555, 5.570722]  ...         None
4    [-0.2040278, 5.567833, -0.2040278, 5.567833]  ...         None

  country.id country.code  country.name owner.id  \
0        152           GH         Ghana        4
1        152           GH         Ghana        4
2        152           GH         Ghana        4
3        152           GH         Ghana        4
4        152           GH         Ghana        4

                          owner.name  provider.id  \
0  Unknown Governmental Organization          209
1  Unknown Governmental Organization          209
2  Unknown Governmental Organization          209
3  Unknown Governmental Organization          209
4  Unknown Governmental Organization          209

                        provider.name  coordinates.latitude  \
0  Dr. Raphael E. Arku and Colleagues              5.583890
1  Dr. Raphael E. Arku and Colleagues              5.581650
2  Dr. Raphael E. Arku and Colleagues              5.540114
3  Dr. Raphael E. Arku and Colleagues              5.570722
4  Dr. Raphael E. Arku and Colleagues              5.567833

  coordinates.longitude
0             -0.199680
1             -0.198980
2             -0.210397
3             -0.212056
4             -0.204028

[5 rows x 22 columns]
Total rows: 10

In [19]:
import requests
import pandas as pd
import time

API_KEY =  "88904129fafefebcb6e90ccde11d98a31b2ce20bfd38ad5631098bce696750eb"
BASE_URL = "https://api.openaq.org/v3/locations"

headers = {
    "X-API-Key":  "88904129fafefebcb6e90ccde11d98a31b2ce20bfd38ad5631098bce696750eb"
}

def build_full_india_dataset():
    all_data = []
    page = 1
    limit = 100

    while True:
        print(f"Fetching page {page}...")

        try:
            response = requests.get(
                BASE_URL,
                headers=headers,
                params={
                    "country": "IN",
                    "limit": limit,
                    "page": page
                },
                timeout=15
            )

            if response.status_code != 200:
                print("Server error:", response.status_code)
                break

            results = response.json().get("results", [])

            if not results:
                print("No more data found.")
                break

            all_data.extend(results)
            print(f"Total records collected: {len(all_data)}")

            page += 1
            time.sleep(1.5)  

        except requests.exceptions.RequestException as e:
            print("Network error:", e)
            print("Retrying in 5 seconds...")
            time.sleep(5)

    df = pd.json_normalize(all_data)
    df.to_csv("full_india_air_quality_locations.csv", index=False)

    print("\nDATA COLLECTION COMPLETE")
    print("Saved as full_india_air_quality_locations.csv")
    print("Total rows:", len(df))

    return df

# RUN
df = build_full_india_dataset()
df.head()

Fetching page 1...
Total records collected: 100
Fetching page 2...
Total records collected: 200
Fetching page 3...
Total records collected: 300
Fetching page 4...
Total records collected: 400
Fetching page 5...
Total records collected: 500
Fetching page 6...
Total records collected: 600
Fetching page 7...
Total records collected: 700
Fetching page 8...
Total records collected: 800
Fetching page 9...
Total records collected: 900
Fetching page 10...
Total records collected: 1000
Fetching page 11...
Total records collected: 1100
Fetching page 12...
Total records collected: 1200
Fetching page 13...
Total records collected: 1300
Fetching page 14...
Total records collected: 1400
Fetching page 15...
Total records collected: 1500
Fetching page 16...
Total records collected: 1600
Fetching page 17...
Total records collected: 1700
Fetching page 18...
Total records collected: 1800
Fetching page 19...
Total records collected: 1900
Fetching page 20...
Total records collected: 2000
Fetching page 21...
Total records collected: 2100
Fetching page 22...
Total records collected: 2200
Fetching page 23...
Total records collected: 2300
Fetching page 24...
Total records collected: 2400
Fetching page 25...
Total records collected: 2500
Fetching page 26...
Total records collected: 2600
Fetching page 27...
Total records collected: 2700
Fetching page 28...
Total records collected: 2800
Fetching page 29...
Total records collected: 2900
Fetching page 30...
Total records collected: 3000
Fetching page 31...
Total records collected: 3100
Fetching page 32...
Total records collected: 3200
Fetching page 33...
Total records collected: 3300
Fetching page 34...
Total records collected: 3400
Fetching page 35...
Total records collected: 3500
Fetching page 36...
Total records collected: 3600
Fetching page 37...
Total records collected: 3700
Fetching page 38...
Total records collected: 3800
Fetching page 39...
Total records collected: 3900
Fetching page 40...
Total records collected: 4000
Fetching page 41...
Total records collected: 4100
Fetching page 42...
Total records collected: 4200
Fetching page 43...
Total records collected: 4300
Fetching page 44...
Total records collected: 4400
Fetching page 45...
Total records collected: 4500
Fetching page 46...
Total records collected: 4600
Fetching page 47...
Total records collected: 4700
Fetching page 48...
Total records collected: 4800
Fetching page 49...
Total records collected: 4900
Fetching page 50...
Total records collected: 5000
Fetching page 51...
Total records collected: 5100
Fetching page 52...
Total records collected: 5200
Fetching page 53...
Total records collected: 5300
Fetching page 54...
Total records collected: 5400
Fetching page 55...
Total records collected: 5500
Fetching page 56...
Total records collected: 5600
Fetching page 57...
Total records collected: 5700
Fetching page 58...
Total records collected: 5800
Fetching page 59...
Total records collected: 5900
Fetching page 60...
Network error: ("Connection broken: ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None)", ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))
Retrying in 5 seconds...
Fetching page 60...
Total records collected: 6000
Fetching page 61...
Total records collected: 6100
Fetching page 62...
Total records collected: 6200
Fetching page 63...
Total records collected: 6300
Fetching page 64...
Total records collected: 6400
Fetching page 65...
Total records collected: 6500
Fetching page 66...
Total records collected: 6600
Fetching page 67...
Total records collected: 6700
Fetching page 68...
Total records collected: 6800
Fetching page 69...
Total records collected: 6900
Fetching page 70...
Total records collected: 7000
Fetching page 71...
Total records collected: 7100
Fetching page 72...
Total records collected: 7200
Fetching page 73...
Total records collected: 7300
Fetching page 74...
Total records collected: 7400
Fetching page 75...
Total records collected: 7500
Fetching page 76...
Total records collected: 7600
Fetching page 77...
Total records collected: 7700
Fetching page 78...
Total records collected: 7800
Fetching page 79...
Total records collected: 7900
Fetching page 80...
Total records collected: 8000
Fetching page 81...
Total records collected: 8100
Fetching page 82...
Total records collected: 8200
Fetching page 83...
Total records collected: 8300
Fetching page 84...
Total records collected: 8400
Fetching page 85...
Total records collected: 8500
Fetching page 86...
Total records collected: 8600
Fetching page 87...
Total records collected: 8700
Fetching page 88...
Total records collected: 8800
Fetching page 89...
Total records collected: 8900
Fetching page 90...
Total records collected: 9000
Fetching page 91...
Total records collected: 9100
Fetching page 92...
Total records collected: 9200
Fetching page 93...
Total records collected: 9300
Fetching page 94...
Total records collected: 9400
Fetching page 95...
Total records collected: 9500
Fetching page 96...
Total records collected: 9600
Fetching page 97...
Total records collected: 9700
Fetching page 98...
Total records collected: 9800
Fetching page 99...
Total records collected: 9900
Fetching page 100...
Total records collected: 10000
Fetching page 101...
Total records collected: 10100
Fetching page 102...
Total records collected: 10200
Fetching page 103...
Total records collected: 10300
Fetching page 104...
Total records collected: 10400
Fetching page 105...
Total records collected: 10500
Fetching page 106...
Total records collected: 10600
Fetching page 107...
Total records collected: 10700
Fetching page 108...
Total records collected: 10800
Fetching page 109...
Total records collected: 10900
Fetching page 110...
Total records collected: 11000
Fetching page 111...
Total records collected: 11100
Fetching page 112...
Total records collected: 11200
Fetching page 113...
Total records collected: 11300
Fetching page 114...
Total records collected: 11400
Fetching page 115...
Total records collected: 11500
Fetching page 116...
Total records collected: 11600
Fetching page 117...
Total records collected: 11700
Fetching page 118...
Total records collected: 11800
Fetching page 119...
Total records collected: 11900
Fetching page 120...
Total records collected: 12000
Fetching page 121...
Total records collected: 12100
Fetching page 122...
Total records collected: 12200
Fetching page 123...
Total records collected: 12300
Fetching page 124...
Total records collected: 12400
Fetching page 125...
Total records collected: 12500
Fetching page 126...
Total records collected: 12600
Fetching page 127...
Total records collected: 12700
Fetching page 128...
Total records collected: 12800
Fetching page 129...
Total records collected: 12900
Fetching page 130...
Total records collected: 13000
Fetching page 131...
Total records collected: 13100
Fetching page 132...
Total records collected: 13200
Fetching page 133...
Total records collected: 13300
Fetching page 134...
Total records collected: 13400
Fetching page 135...
Total records collected: 13500
Fetching page 136...
Total records collected: 13600
Fetching page 137...
Total records collected: 13700
Fetching page 138...
Total records collected: 13800
Fetching page 139...
Total records collected: 13900
Fetching page 140...
Total records collected: 14000
Fetching page 141...
Total records collected: 14100
Fetching page 142...
Total records collected: 14200
Fetching page 143...
Total records collected: 14300
Fetching page 144...
Total records collected: 14400
Fetching page 145...
Total records collected: 14500
Fetching page 146...
Total records collected: 14600
Fetching page 147...
Total records collected: 14700
Fetching page 148...
Total records collected: 14800
Fetching page 149...
Total records collected: 14900
Fetching page 150...
Total records collected: 15000
Fetching page 151...
Total records collected: 15100
Fetching page 152...
Total records collected: 15200
Fetching page 153...
Total records collected: 15300
Fetching page 154...
Total records collected: 15400
Fetching page 155...
Total records collected: 15500
Fetching page 156...
Total records collected: 15600
Fetching page 157...
Total records collected: 15700
Fetching page 158...
Total records collected: 15800
Fetching page 159...
Total records collected: 15900
Fetching page 160...
Total records collected: 16000
Fetching page 161...
Total records collected: 16100
Fetching page 162...
Total records collected: 16200
Fetching page 163...
Total records collected: 16300
Fetching page 164...
Total records collected: 16400
Fetching page 165...
Total records collected: 16500
Fetching page 166...
Total records collected: 16600
Fetching page 167...
Total records collected: 16700
Fetching page 168...
Total records collected: 16800
Fetching page 169...
Total records collected: 16900
Fetching page 170...
Total records collected: 17000
Fetching page 171...
Total records collected: 17100
Fetching page 172...
Total records collected: 17200
Fetching page 173...
Total records collected: 17300
Fetching page 174...
Total records collected: 17400
Fetching page 175...
Total records collected: 17500
Fetching page 176...
Total records collected: 17600
Fetching page 177...
Total records collected: 17700
Fetching page 178...
Total records collected: 17800
Fetching page 179...
Total records collected: 17900
Fetching page 180...
Total records collected: 18000
Fetching page 181...
Total records collected: 18100
Fetching page 182...
Total records collected: 18200
Fetching page 183...
Total records collected: 18300
Fetching page 184...
Total records collected: 18400
Fetching page 185...
Total records collected: 18500
Fetching page 186...
Total records collected: 18600
Fetching page 187...
Total records collected: 18700
Fetching page 188...
Total records collected: 18800
Fetching page 189...
Total records collected: 18900
Fetching page 190...
Total records collected: 19000
Fetching page 191...
Total records collected: 19100
Fetching page 192...
Total records collected: 19200
Fetching page 193...
Total records collected: 19300
Fetching page 194...
Total records collected: 19400
Fetching page 195...
Total records collected: 19500
Fetching page 196...
Total records collected: 19600
Fetching page 197...
Total records collected: 19700
Fetching page 198...
Total records collected: 19800
Fetching page 199...
Total records collected: 19900
Fetching page 200...
Total records collected: 20000
Fetching page 201...
Total records collected: 20100
Fetching page 202...
Total records collected: 20200
Fetching page 203...
Total records collected: 20300
Fetching page 204...
Total records collected: 20400
Fetching page 205...
Total records collected: 20500
Fetching page 206...
Total records collected: 20600
Fetching page 207...
Total records collected: 20700
Fetching page 208...
Total records collected: 20800
Fetching page 209...
Total records collected: 20900
Fetching page 210...
Total records collected: 21000
Fetching page 211...
Total records collected: 21100
Fetching page 212...
Total records collected: 21200
Fetching page 213...
Total records collected: 21300
Fetching page 214...
Total records collected: 21400
Fetching page 215...
Total records collected: 21500
Fetching page 216...
Total records collected: 21600
Fetching page 217...
Total records collected: 21700
Fetching page 218...
Total records collected: 21800
Fetching page 219...
Total records collected: 21900
Fetching page 220...
Total records collected: 22000
Fetching page 221...
Total records collected: 22100
Fetching page 222...
Total records collected: 22200
Fetching page 223...
Total records collected: 22300
Fetching page 224...
Total records collected: 22400
Fetching page 225...
Total records collected: 22500
Fetching page 226...
Total records collected: 22600
Fetching page 227...
Total records collected: 22700
Fetching page 228...
Total records collected: 22800
Fetching page 229...
Total records collected: 22900
Fetching page 230...
Total records collected: 23000
Fetching page 231...
Total records collected: 23097
Fetching page 232...
No more data found.

DATA COLLECTION COMPLETE
Saved as full_india_air_quality_locations.csv
Total rows: 23097

,id,name,locality,timezone,isMobile,isMonitor,instruments,sensors,licenses,bounds,...,owner.id,owner.name,provider.id,provider.name,coordinates.latitude,coordinates.longitude,datetimeFirst.utc,datetimeFirst.local,datetimeLast.utc,datetimeLast.local
0,3,NMA - Nima,None,Africa/Accra,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 6, 'name': 'pm10 µg/m³', 'parameter': ...",None,"[-0.19968, 5.58389, -0.19968, 5.58389]",...,4,Unknown Governmental Organization,209,Dr. Raphael E. Arku and Colleagues,5.583890,-0.199680,NaN,NaN,NaN,NaN
1,4,NMT - Nima,None,Africa/Accra,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 7, 'name': 'pm10 µg/m³', 'parameter': ...",None,"[-0.19898, 5.58165, -0.19898, 5.58165]",...,4,Unknown Governmental Organization,209,Dr. Raphael E. Arku and Colleagues,5.581650,-0.198980,NaN,NaN,NaN,NaN
2,5,JTA - Jamestown,None,Africa/Accra,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 10, 'name': 'pm10 µg/m³', 'parameter':...",None,"[-0.2103972, 5.5401139, -0.2103972, 5.5401139]",...,4,Unknown Governmental Organization,209,Dr. Raphael E. Arku and Colleagues,5.540114,-0.210397,NaN,NaN,NaN,NaN
3,6,ADT - Asylum Down,None,Africa/Accra,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 11, 'name': 'pm10 µg/m³', 'parameter':...",None,"[-0.2120555, 5.570722, -0.2120555, 5.570722]",...,4,Unknown Governmental Organization,209,Dr. Raphael E. Arku and Colleagues,5.570722,-0.212056,NaN,NaN,NaN,NaN
4,7,ADEPA - Asylum Down,None,Africa/Accra,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 14, 'name': 'pm10 µg/m³', 'parameter':...",None,"[-0.2040278, 5.567833, -0.2040278, 5.567833]",...,4,Unknown Governmental Organization,209,Dr. Raphael E. Arku and Colleagues,5.567833,-0.204028,NaN,NaN,NaN,NaN

In [20]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace('.','_')
df=df.rename(columns={'owner.id(usd)':'owner.id'})

In [21]:
df.columns

Index(['id', 'name', 'locality', 'timezone', 'ismobile', 'ismonitor',
       'instruments', 'sensors', 'licenses', 'bounds', 'distance',
       'datetimefirst', 'datetimelast', 'country_id', 'country_code',
       'country_name', 'owner_id', 'owner_name', 'provider_id',
       'provider_name', 'coordinates_latitude', 'coordinates_longitude',
       'datetimefirst_utc', 'datetimefirst_local', 'datetimelast_utc',
       'datetimelast_local'],
      dtype='object')

In [22]:
def clean_columns(df):
    df.columns = (
        df.columns
        .str.lower()
        .str.replace(".", "_", regex=False)
        .str.replace("(", "", regex=False)
        .str.replace(")", "", regex=False)
        .str.replace(" ", "_", regex=False)
    )
    return df


df = clean_columns(df)

In [24]:
df.columns

Index(['id', 'name', 'locality', 'timezone', 'ismobile', 'ismonitor',
       'instruments', 'sensors', 'licenses', 'bounds', 'distance',
       'datetimefirst', 'datetimelast', 'country_id', 'country_code',
       'country_name', 'owner_id', 'owner_name', 'provider_id',
       'provider_name', 'coordinates_latitude', 'coordinates_longitude',
       'datetimefirst_utc', 'datetimefirst_local', 'datetimelast_utc',
       'datetimelast_local'],
      dtype='object')

In [25]:
df.head()

,id,name,locality,timezone,ismobile,ismonitor,instruments,sensors,licenses,bounds,...,owner_id,owner_name,provider_id,provider_name,coordinates_latitude,coordinates_longitude,datetimefirst_utc,datetimefirst_local,datetimelast_utc,datetimelast_local
0,3,NMA - Nima,None,Africa/Accra,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 6, 'name': 'pm10 µg/m³', 'parameter': ...",None,"[-0.19968, 5.58389, -0.19968, 5.58389]",...,4,Unknown Governmental Organization,209,Dr. Raphael E. Arku and Colleagues,5.583890,-0.199680,NaN,NaN,NaN,NaN
1,4,NMT - Nima,None,Africa/Accra,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 7, 'name': 'pm10 µg/m³', 'parameter': ...",None,"[-0.19898, 5.58165, -0.19898, 5.58165]",...,4,Unknown Governmental Organization,209,Dr. Raphael E. Arku and Colleagues,5.581650,-0.198980,NaN,NaN,NaN,NaN
2,5,JTA - Jamestown,None,Africa/Accra,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 10, 'name': 'pm10 µg/m³', 'parameter':...",None,"[-0.2103972, 5.5401139, -0.2103972, 5.5401139]",...,4,Unknown Governmental Organization,209,Dr. Raphael E. Arku and Colleagues,5.540114,-0.210397,NaN,NaN,NaN,NaN
3,6,ADT - Asylum Down,None,Africa/Accra,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 11, 'name': 'pm10 µg/m³', 'parameter':...",None,"[-0.2120555, 5.570722, -0.2120555, 5.570722]",...,4,Unknown Governmental Organization,209,Dr. Raphael E. Arku and Colleagues,5.570722,-0.212056,NaN,NaN,NaN,NaN
4,7,ADEPA - Asylum Down,None,Africa/Accra,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 14, 'name': 'pm10 µg/m³', 'parameter':...",None,"[-0.2040278, 5.567833, -0.2040278, 5.567833]",...,4,Unknown Governmental Organization,209,Dr. Raphael E. Arku and Colleagues,5.567833,-0.204028,NaN,NaN,NaN,NaN

In [27]:
def clean_air_quality_data(df):
    # Drop missing values
    df = df.dropna(subset=["value"])

    # Remove invalid values
    df = df[df["value"] >= 0]

    # Filter health-related pollutants
    df = df[df["parameter"].isin(["pm25", "pm10", "no2", "o3", "co"])]

    # Convert datetime
    df["datetime"] = pd.to_datetime(df["datetime"], errors="coerce")

    # Remove duplicates
    df = df.drop_duplicates(subset=["location", "parameter", "datetime"])

    # Remove extreme outliers
    df = df[df["value"] < df["value"].quantile(0.99)]

    return df

In [28]:
df.columns

Index(['id', 'name', 'locality', 'timezone', 'ismobile', 'ismonitor',
       'instruments', 'sensors', 'licenses', 'bounds', 'distance',
       'datetimefirst', 'datetimelast', 'country_id', 'country_code',
       'country_name', 'owner_id', 'owner_name', 'provider_id',
       'provider_name', 'coordinates_latitude', 'coordinates_longitude',
       'datetimefirst_utc', 'datetimefirst_local', 'datetimelast_utc',
       'datetimelast_local'],
      dtype='object')

In [29]:
df.head()

,id,name,locality,timezone,ismobile,ismonitor,instruments,sensors,licenses,bounds,...,owner_id,owner_name,provider_id,provider_name,coordinates_latitude,coordinates_longitude,datetimefirst_utc,datetimefirst_local,datetimelast_utc,datetimelast_local
0,3,NMA - Nima,None,Africa/Accra,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 6, 'name': 'pm10 µg/m³', 'parameter': ...",None,"[-0.19968, 5.58389, -0.19968, 5.58389]",...,4,Unknown Governmental Organization,209,Dr. Raphael E. Arku and Colleagues,5.583890,-0.199680,NaN,NaN,NaN,NaN
1,4,NMT - Nima,None,Africa/Accra,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 7, 'name': 'pm10 µg/m³', 'parameter': ...",None,"[-0.19898, 5.58165, -0.19898, 5.58165]",...,4,Unknown Governmental Organization,209,Dr. Raphael E. Arku and Colleagues,5.581650,-0.198980,NaN,NaN,NaN,NaN
2,5,JTA - Jamestown,None,Africa/Accra,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 10, 'name': 'pm10 µg/m³', 'parameter':...",None,"[-0.2103972, 5.5401139, -0.2103972, 5.5401139]",...,4,Unknown Governmental Organization,209,Dr. Raphael E. Arku and Colleagues,5.540114,-0.210397,NaN,NaN,NaN,NaN
3,6,ADT - Asylum Down,None,Africa/Accra,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 11, 'name': 'pm10 µg/m³', 'parameter':...",None,"[-0.2120555, 5.570722, -0.2120555, 5.570722]",...,4,Unknown Governmental Organization,209,Dr. Raphael E. Arku and Colleagues,5.570722,-0.212056,NaN,NaN,NaN,NaN
4,7,ADEPA - Asylum Down,None,Africa/Accra,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 14, 'name': 'pm10 µg/m³', 'parameter':...",None,"[-0.2040278, 5.567833, -0.2040278, 5.567833]",...,4,Unknown Governmental Organization,209,Dr. Raphael E. Arku and Colleagues,5.567833,-0.204028,NaN,NaN,NaN,NaN

In [30]:
df.isna().sum()

id                           0
name                        30
locality                 10981
timezone                     0
ismobile                     0
ismonitor                    0
instruments                  0
sensors                      0
licenses                  6280
bounds                       0
distance                 23097
datetimefirst            23097
datetimelast             23097
country_id                   0
country_code                 0
country_name                 0
owner_id                     0
owner_name                   0
provider_id                  0
provider_name                0
coordinates_latitude         0
coordinates_longitude        0
datetimefirst_utc          371
datetimefirst_local        371
datetimelast_utc           371
datetimelast_local         371
dtype: int64

In [33]:
def clean_air_quality_data(df):
    # Drop useless columns
    drop_cols = ["distance", "datetimefirst", "datetimelast"]
    df = df.drop(columns=[c for c in drop_cols if c in df.columns])

    # Fill text columns
    df["name"] = df["name"].fillna("Unknown Station")
    df["locality"] = df["locality"].fillna("Unknown City")

    if "licenses" in df.columns:
        df["licenses"] = df["licenses"].fillna("Not Specified")

    # Fill and convert datetime
    if "datetimefirst_utc" in df.columns and "datetimelast_utc" in df.columns:
        df["datetimefirst_utc"] = df["datetimefirst_utc"].fillna(df["datetimelast_utc"])
        df["datetimefirst_utc"] = pd.to_datetime(df["datetimefirst_utc"], errors="coerce")
        df["datetimelast_utc"] = pd.to_datetime(df["datetimelast_utc"], errors="coerce")

    # Ensure valid coordinates
    df = df.dropna(subset=["coordinates_latitude", "coordinates_longitude"])

    return df

In [34]:
df.head()

,id,name,locality,timezone,ismobile,ismonitor,instruments,sensors,licenses,bounds,...,owner_id,owner_name,provider_id,provider_name,coordinates_latitude,coordinates_longitude,datetimefirst_utc,datetimefirst_local,datetimelast_utc,datetimelast_local
0,3,NMA - Nima,None,Africa/Accra,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 6, 'name': 'pm10 µg/m³', 'parameter': ...",None,"[-0.19968, 5.58389, -0.19968, 5.58389]",...,4,Unknown Governmental Organization,209,Dr. Raphael E. Arku and Colleagues,5.583890,-0.199680,NaN,NaN,NaN,NaN
1,4,NMT - Nima,None,Africa/Accra,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 7, 'name': 'pm10 µg/m³', 'parameter': ...",None,"[-0.19898, 5.58165, -0.19898, 5.58165]",...,4,Unknown Governmental Organization,209,Dr. Raphael E. Arku and Colleagues,5.581650,-0.198980,NaN,NaN,NaN,NaN
2,5,JTA - Jamestown,None,Africa/Accra,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 10, 'name': 'pm10 µg/m³', 'parameter':...",None,"[-0.2103972, 5.5401139, -0.2103972, 5.5401139]",...,4,Unknown Governmental Organization,209,Dr. Raphael E. Arku and Colleagues,5.540114,-0.210397,NaN,NaN,NaN,NaN
3,6,ADT - Asylum Down,None,Africa/Accra,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 11, 'name': 'pm10 µg/m³', 'parameter':...",None,"[-0.2120555, 5.570722, -0.2120555, 5.570722]",...,4,Unknown Governmental Organization,209,Dr. Raphael E. Arku and Colleagues,5.570722,-0.212056,NaN,NaN,NaN,NaN
4,7,ADEPA - Asylum Down,None,Africa/Accra,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 14, 'name': 'pm10 µg/m³', 'parameter':...",None,"[-0.2040278, 5.567833, -0.2040278, 5.567833]",...,4,Unknown Governmental Organization,209,Dr. Raphael E. Arku and Colleagues,5.567833,-0.204028,NaN,NaN,NaN,NaN

In [35]:
df = clean_air_quality_data(df)
df.isna().sum()

id                         0
name                       0
locality                   0
timezone                   0
ismobile                   0
ismonitor                  0
instruments                0
sensors                    0
licenses                   0
bounds                     0
country_id                 0
country_code               0
country_name               0
owner_id                   0
owner_name                 0
provider_id                0
provider_name              0
coordinates_latitude       0
coordinates_longitude      0
datetimefirst_utc        371
datetimefirst_local      371
datetimelast_utc         371
datetimelast_local       371
dtype: int64

In [36]:
df["status"] = "Active"
df.loc[df["datetimelast_utc"].isna(), "status"] = "Inactive"

In [37]:
df = clean_air_quality_data(df)
df.isna().sum()

id                         0
name                       0
locality                   0
timezone                   0
ismobile                   0
ismonitor                  0
instruments                0
sensors                    0
licenses                   0
bounds                     0
country_id                 0
country_code               0
country_name               0
owner_id                   0
owner_name                 0
provider_id                0
provider_name              0
coordinates_latitude       0
coordinates_longitude      0
datetimefirst_utc        371
datetimefirst_local      371
datetimelast_utc         371
datetimelast_local       371
status                     0
dtype: int64

In [42]:
import json

complex_cols = ["instruments", "sensors", "licenses", "bounds"]

for col in complex_cols:
    if col in df.columns:
        df[col] = df[col].apply(lambda x: json.dumps(x) if isinstance(x, (dict, list)) else x)

In [43]:
from sqlalchemy import create_engine
username="postgres"
password="sneha123"
host="localhost"
port="5432"
database="Air_Quality"
engine=create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")
table_name="open_air"
df.to_sql(table_name,engine,if_exists="replace",index=False)
print(f"Data successfully connected into table '{table_name}' in database '{database}' .")

Data successfully connected into table 'open_air' in database 'Air_Quality' .